* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  --light-blue: #f4f5fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: white;
}

.navbar-brand {
  padding-bottom: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

.page-content {
  min-height: calc(100vh - 81px);
  margin-bottom: -80px;
}

.page-content:after {
  content: "";
  display: block;
  height: 80px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 15px;
}

.fixed-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -2;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

.home-section-1, .leadership-section-1 {
  height: min(500px, calc(100vh - 81px));
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section-1-content, .leadership-section-1-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px 60px;
}

.home-section-2 {
  background-color: white;
  padding: 60px;
  display: flex;
  justify-content: center;
}

.home-section-2-content, .home-section-3-content {
  max-width: 1050px;
}

p,a {
  font-size: 18px;
}

.home-section-2-content p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.home-section-3 {
  background-color: var(--light-blue);
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-section-3 .news-cards {
  margin-bottom: 40px;
}

.news-card {
  text-align: left;
  width: 350px;
  padding: 30px;
  margin: 30px;
  background-color: var(--light-blue);
  border-radius: 10px;
  border: solid 1px #ddd;
  box-shadow: -5px 5px 5px 0px #ddd;
}

.home-section-3 .news-card {
  background-color: white;
}

.our-approach-section-1 {
  height: min(500px, calc(100vh - 81px));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 60px;
}

.our-approach-section-1-content {
  padding: 60px;
  max-width: 660px;
  background-color: rgba(255, 255, 255, 0.6);
}

.our-approach-section-2, .our-approach-section-3, .our-approach-section-4 {
  padding: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.our-approach-section-3 {
  background-color: var(--light-blue);
}

.our-approach-section-2-content, .our-approach-section-3-content, .our-approach-section-4-content {
  max-width: 850px;
}

.our-approach-section-2-content p, .our-approach-section-3-content p, .our-approach-section-4-content p {
  text-align: left;
}

.our-approach-section-2-content img {
  width: 100%;
  margin-top: 30px;
}

.partnerships-link {
  margin-top: 40px;
}

.news {
  padding: 60px;
}

.news h1, .leadership-section-2 h1, .leadership-section-3 h2, .partnerships-section-3 h3 {
  margin-bottom: 30px;
}

.leadership .fixed-image {
  object-position: center;
}

.leadership-section-1 {
  padding: 60px;
  height: calc(100vh - 81px);
}

.leadership-section-1-content {
  max-width: 600px;
}

.leadership-section-2 {
  background-color: var(--light-blue);
  padding: 60px;
}

.team-members {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.team-member {
  display: flex;
  margin-bottom: 30px;
  border-radius: 10px;
  border: solid 1px #ddd;
  box-shadow: -5px 5px 5px 0px #ddd;
  padding: 20px;
  background-color: white;
  text-align: left;
}

.team-member h3 {
  margin-bottom: 5px;
}

.team-member-title {
  font-weight: 600;
}

.team-member.right-aligned {
  text-align: right;
}

.team-member img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 30px;
}

.team-member-details {
  margin: 30px;
}

.team-member-bio {
  overflow-y: hidden;
}

.team-member-bio.collapsed {
  height: 135px;
}

.read-more {
  margin-top: 1rem;
}

.leadership-section-3 {
  background-color: white;
  padding: 60px;
}

.leader-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leader-card {
  width: 350px;
  padding: 30px;
  margin: 30px;
  background-color: var(--light-blue);
  border-radius: 10px;
  border: solid 1px #ddd;
  box-shadow: -5px 5px 5px 0px #ddd;
}

.leader-card ul {
  padding-left: 30px;
}

.advisors {
  text-align: left;
  display: flex;
  justify-content: center;
}

.partnerships-section-1 {
  height: min(500px, calc(100vh - 81px));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
}

.partnerships-section-1-content {
  padding: 60px;
  max-width: 750px;
  background-color: transparent;
}

.partnerships-section-2 {
  background-color: var(--light-blue);
  padding: 60px;
}

.partnerships-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partnership-card {
  width: 400px;
  background-color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  border: solid 1px #ddd;
  box-shadow: -5px 5px 5px 0px #ddd;
}

.partnership-card ul {
  padding-left: 30px;
  margin-bottom: 0px;
}

.partnership-card p {
  text-align: left;
}

.partnership-card p {
  margin-bottom: 5px;
}

.partnerships-section-3 {
  background-color: white;
  padding: 60px;
}

.partnerships form {
  width: min(500px, 100%);
  margin: 30px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-info {
  margin: 30px;
  border-left: solid 1px #ced4da;
  padding-left: 60px;
}

.contact-method {
  display: flex;
  text-align: left;
  margin-bottom: 10px;
}

.contact-method .fas {
  margin-right: 20px;
  width: 30px;
  font-size: 30px;
}

.footer {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.link {
  color: #007bff;
}

@media all and (max-width: 1126px) {
  .contact-info {
    margin-bottom: 0px;
    border-left: none;
    padding-left: 0px;
  }
}

@media all and (max-width: 991px) {
  .image-overlay {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .our-approach-section-1, .leadership-section-1, .partnerships-section-1 {
    padding: 0px;
  }

  .home-section-1-content, .our-approach-section-1-content, .leadership-section-1-content, .partnerships-section-1-content {
    background-color: transparent;
    padding: 30px 20px;
  }

  .home-section-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .leadership-section-2, .leadership-section-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .team-member {
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-member img {
    width: 175px;
    height: 175px;
    margin: 10px;
  }

  .team-member-details {
    margin: 10px;
  }

  .team-member-details h3, p.team-member-title {
    text-align: center;
  }

  .partnership-card, .leader-card, .partnerships form {
    margin-left: 0px;
    margin-right: 0px;
  }

  .leader-card {
    margin-top: 0px;
  }
}

@media all and (hover: hover) {
  .link:hover {
    cursor: pointer;
    color: #0056b3;
  }

  a:hover {
    text-decoration: none;
  }
}
